HTTP

- [一、TCP/IP介绍](#%E4%B8%80tcpip%E4%BB%8B%E7%BB%8D)
  - [1.1 什么是TCP/IP？](#11-%E4%BB%80%E4%B9%88%E6%98%AFtcpip)
  - [1.2 TCP/IP分层](#12-tcpip%E5%88%86%E5%B1%82)
  - [1.3 HTTP通信传输流](#13-http%E9%80%9A%E4%BF%A1%E4%BC%A0%E8%BE%93%E6%B5%81)
  - [1.4 IP、MAC、ARP](#14-ipmacarp)
  - [1.5 确保TCP协议的可靠性](#15-%E7%A1%AE%E4%BF%9Dtcp%E5%8D%8F%E8%AE%AE%E7%9A%84%E5%8F%AF%E9%9D%A0%E6%80%A7)
  - [1.6 域名解析DNS服务](#16-%E5%9F%9F%E5%90%8D%E8%A7%A3%E6%9E%90dns%E6%9C%8D%E5%8A%A1)
  - [1.7 HTTP协议关系](#17-http%E5%8D%8F%E8%AE%AE%E5%85%B3%E7%B3%BB)
- [二 HTTP格式](#%E4%BA%8C-http%E6%A0%BC%E5%BC%8F)
  - [2.1 HTTP是无状态协议](#21-http%E6%98%AF%E6%97%A0%E7%8A%B6%E6%80%81%E5%8D%8F%E8%AE%AE)
  - [2.1 请求URI定位资源](#21-%E8%AF%B7%E6%B1%82uri%E5%AE%9A%E4%BD%8D%E8%B5%84%E6%BA%90)
  - [2.2 告知HTTP意图的Method](#22-%E5%91%8A%E7%9F%A5http%E6%84%8F%E5%9B%BE%E7%9A%84method)
  - [2.3 持久链接节省通信量](#23-%E6%8C%81%E4%B9%85%E9%93%BE%E6%8E%A5%E8%8A%82%E7%9C%81%E9%80%9A%E4%BF%A1%E9%87%8F)
  - [2.4 管线化](#24-%E7%AE%A1%E7%BA%BF%E5%8C%96)
  - [2.8 Cookie](#28-cookie)
- [三、HTTP报文的HTTP信息](#%E4%B8%89http%E6%8A%A5%E6%96%87%E7%9A%84http%E4%BF%A1%E6%81%AF)
  - [3.1 HTTP报文主体和实体区别](#31-http%E6%8A%A5%E6%96%87%E4%B8%BB%E4%BD%93%E5%92%8C%E5%AE%9E%E4%BD%93%E5%8C%BA%E5%88%AB)
  - [3.2 压缩传输的内容编码](#32-%E5%8E%8B%E7%BC%A9%E4%BC%A0%E8%BE%93%E7%9A%84%E5%86%85%E5%AE%B9%E7%BC%96%E7%A0%81)
  - [3.3 分割发送的分块传输编码](#33-%E5%88%86%E5%89%B2%E5%8F%91%E9%80%81%E7%9A%84%E5%88%86%E5%9D%97%E4%BC%A0%E8%BE%93%E7%BC%96%E7%A0%81)
  - [3.4 发送多种数据的多部份对象集合](#34-%E5%8F%91%E9%80%81%E5%A4%9A%E7%A7%8D%E6%95%B0%E6%8D%AE%E7%9A%84%E5%A4%9A%E9%83%A8%E4%BB%BD%E5%AF%B9%E8%B1%A1%E9%9B%86%E5%90%88)
  - [3.5 获取部分内容的范围请求](#35-%E8%8E%B7%E5%8F%96%E9%83%A8%E5%88%86%E5%86%85%E5%AE%B9%E7%9A%84%E8%8C%83%E5%9B%B4%E8%AF%B7%E6%B1%82)
  - [3.6 内容协商](#36-%E5%86%85%E5%AE%B9%E5%8D%8F%E5%95%86)
- [四 返回结果的HTTP状态码](#%E5%9B%9B-%E8%BF%94%E5%9B%9E%E7%BB%93%E6%9E%9C%E7%9A%84http%E7%8A%B6%E6%80%81%E7%A0%81)
  - [2xx](#2xx)
    - [200 OK](#200-ok)
    - [201 Created](#201-created)
    - [202 Accepted](#202-accepted)
    - [203 Non-Authoritative Information](#203-non-authoritative-information)
    - [204 No Content](#204-no-content)
    - [205 Reset Content](#205-reset-content)
    - [206 Partial Content](#206-partial-content)
  - [3xx](#3xx)
    - [300 Multiple Choices](#300-multiple-choices)
    - [301 Moved Permanently](#301-moved-permanently)
    - [302 Found](#302-found)
    - [304 Not Modified](#304-not-modified)
    - [307 Temporary Redirect](#307-temporary-redirect)
    - [308 Permanent Redirect](#308-permanent-redirect)
  - [4xx 客户端响应](#4xx-%E5%AE%A2%E6%88%B7%E7%AB%AF%E5%93%8D%E5%BA%94)
    - [400 Bad Request](#400-bad-request)
    - [401 Unauthorized](#401-unauthorized)
    - [403 Forbidden](#403-forbidden)
    - [404 Not Found](#404-not-found)
  - [5xx 服务端出错](#5xx-%E6%9C%8D%E5%8A%A1%E7%AB%AF%E5%87%BA%E9%94%99)
    - [500 Internal Server Error](#500-internal-server-error)
    - [502 Bad Gateway](#502-bad-gateway)
    - [503 Service Unavailable](#503-service-unavailable)
    - [504 Gateway Timeout](#504-gateway-timeout)
- [五 与HTTP协作的Web服务器](#%E4%BA%94-%E4%B8%8Ehttp%E5%8D%8F%E4%BD%9C%E7%9A%84web%E6%9C%8D%E5%8A%A1%E5%99%A8)
  - [5.1 代理、网关、隧道](#51-%E4%BB%A3%E7%90%86%E7%BD%91%E5%85%B3%E9%9A%A7%E9%81%93)
    - [代理](#%E4%BB%A3%E7%90%86)
    - [网关](#%E7%BD%91%E5%85%B3)
    - [隧道](#%E9%9A%A7%E9%81%93)
  - [5.2 保存资源的缓存](#52-%E4%BF%9D%E5%AD%98%E8%B5%84%E6%BA%90%E7%9A%84%E7%BC%93%E5%AD%98)
    - [缓存服务器](#%E7%BC%93%E5%AD%98%E6%9C%8D%E5%8A%A1%E5%99%A8)
    - [客户端缓存](#%E5%AE%A2%E6%88%B7%E7%AB%AF%E7%BC%93%E5%AD%98)
- [六 HTTP首部](#%E5%85%AD-http%E9%A6%96%E9%83%A8)
  - [6.1 HTTP通用首部字段](#61-http%E9%80%9A%E7%94%A8%E9%A6%96%E9%83%A8%E5%AD%97%E6%AE%B5)
    - [Cache-control](#cache-control)
    - [Date](#date)
    - [Pragma](#pragma)
    - [Transfer-Encoding](#transfer-encoding)
    - [Upgrade](#upgrade)
  - [6.2 请求首部字段](#62-%E8%AF%B7%E6%B1%82%E9%A6%96%E9%83%A8%E5%AD%97%E6%AE%B5)
    - [Accept](#accept)
    - [Accept-Charset](#accept-charset)
    - [Accept-Encoding](#accept-encoding)
    - [Accept-Language](#accept-language)
    - [Authorization](#authorization)
    - [Expect](#expect)
    - [From](#from)
    - [Host](#host)
    - [If-Match](#if-match)
    - [If-Modified-Since](#if-modified-since)
    - [If-None-Match](#if-none-match)
    - [If-Range](#if-range)
    - [If-Unmodified-Since](#if-unmodified-since)
    - [Max-Forwards](#max-forwards)
    - [Range](#range)
    - [Referer](#referer)
    - [TE](#te)
    - [User-Agent](#user-agent)
  - [6.3 响应字段](#63-%E5%93%8D%E5%BA%94%E5%AD%97%E6%AE%B5)
    - [Accept-Ranges](#accept-ranges)
    - [Age](#age)
    - [ETag](#etag)
    - [Location](#location)
    - [Retry-After](#retry-after)
    - [Proxy-Authenticate](#proxy-authenticate)
    - [Server](#server)
    - [WWW-Authenticate](#www-authenticate)
  - [6.4 实体首部字段](#64-%E5%AE%9E%E4%BD%93%E9%A6%96%E9%83%A8%E5%AD%97%E6%AE%B5)
    - [Allow](#allow)
    - [Content-Encoding](#content-encoding)
    - [Content-Language](#content-language)
    - [Content-Length](#content-length)
    - [Content-Location](#content-location)
    - [Content-MD5](#content-md5)
    - [Content-Range](#content-range)
    - [Content-Type](#content-type)
    - [Expires](#expires)
    - [Last-Modified](#last-modified)
    - [Cookie](#cookie)
- [七 HTTPS](#%E4%B8%83-https)
  - [什么是HTTPS？](#%E4%BB%80%E4%B9%88%E6%98%AFhttps)
  - [HTTPS加密](#https%E5%8A%A0%E5%AF%86)
  - [HTTP缺点](#http%E7%BC%BA%E7%82%B9)
  - [HTTPS优缺点](#https%E4%BC%98%E7%BC%BA%E7%82%B9)
  - [HTTPS通信机制](#https%E9%80%9A%E4%BF%A1%E6%9C%BA%E5%88%B6)
- [八 确认访问用户身份的认证](#%E5%85%AB-%E7%A1%AE%E8%AE%A4%E8%AE%BF%E9%97%AE%E7%94%A8%E6%88%B7%E8%BA%AB%E4%BB%BD%E7%9A%84%E8%AE%A4%E8%AF%81)
  - [8.1HTTP认证方式](#81http%E8%AE%A4%E8%AF%81%E6%96%B9%E5%BC%8F)
  - [8.2 Basic 认证](#82-basic-%E8%AE%A4%E8%AF%81)
  - [8.3 DIGEST 认证](#83-digest-%E8%AE%A4%E8%AF%81)
  - [8.4 SSL客户端认证](#84-ssl%E5%AE%A2%E6%88%B7%E7%AB%AF%E8%AE%A4%E8%AF%81)
  - [8.5 表单认证](#85-%E8%A1%A8%E5%8D%95%E8%AE%A4%E8%AF%81)
- [九 基于HTTP功能的追加协议](#%E4%B9%9D-%E5%9F%BA%E4%BA%8Ehttp%E5%8A%9F%E8%83%BD%E7%9A%84%E8%BF%BD%E5%8A%A0%E5%8D%8F%E8%AE%AE)
  - [SPDY (SPeeDY)](#spdy-speedy)
  - [HTTP2](#http2)
    - [HTTP2帧和流](#http2%E5%B8%A7%E5%92%8C%E6%B5%81)
    - [HTTP2介绍](#http2%E4%BB%8B%E7%BB%8D)
    - [和SPDY区别：](#%E5%92%8Cspdy%E5%8C%BA%E5%88%AB)
    - [对比HTTP1.x](#%E5%AF%B9%E6%AF%94http1x)
  - [WebSocket](#websocket)
  - [Web服务器管理文件（WebDAV）](#web%E6%9C%8D%E5%8A%A1%E5%99%A8%E7%AE%A1%E7%90%86%E6%96%87%E4%BB%B6webdav)

# 一、TCP/IP介绍

## 1.1 什么是TCP/IP？
互联网相关的各类协议族的称为TCP/IP

## 1.2 TCP/IP分层
应用层
> 决定用户提供应用服务时通信的活动

- 常用的应用服务：FTP、DNS、HTTP

传输层
> 提供处于网络连接中的两台计算机之间的数据
传输

- 常用的传输协议： TCP、UDP

网络层: 
> 处理网络上流动的数据包，规定了传送到目标计算机的路径

- 路由器

数据链路层：
> 处理连接网络的硬件部分

- 操作系统、硬件的设备驱动、NIC、网络适配器、网卡、光纤、 MAC地址

## 1.3 HTTP通信传输流

1. 应用层HTTP协议发送请求
2. 传输层（TCP协议）把应用层的请求报文进行分割，各个报文打上标记序号及端口号发送给网络层
3. 网络层（IP协议）添加通信目的地的MAC地址发送到数据链路层

接受端在对应的层级把首部去掉
这样的数据传输方式称为封装

## 1.4 IP、MAC、ARP
IP协议: 数据包的传送
IP地址: 指名节点被分配的地址
MAC地址: 网关所属的地址
IP地址根据MAC地址匹配来确定传输地址，中转通过ARP协议来搜索当前MAC地址的下一个中转目标，到中转目标解析下一个目标，这种中转方式称为选择

## 1.5 确保TCP协议的可靠性
TCP三次握手

## 1.6 域名解析DNS服务
计算机访问域名是会先访问静态文件hosts, 如果没有找到则通过DNS域名解析IP

## 1.7 HTTP协议关系
发送端：
应用层: HTTP协议发送请求
传输层：TCP协议分割请求报文发送

网络层：IP协议传送报文和中转

接收端：
传输层：TCP重组报文
应用层：处理请求内容

1.8 URI和URL
URL标识互联网的资源，URL表示资源的定位或者说地址，URL是URI的子集

URI格式

# 二 HTTP格式

## 2.1 HTTP是无状态协议
> 协议不保存之前请求的信息

## 2.1 请求URI定位资源
> HTTP根据URI定位服务器资源，若是请求服务器本身则使用*替代URI

## 2.2 告知HTTP意图的Method
- GET 获取资源
- POST 传输实体主题
- PUT 传输文件
- HEAD 获取报文首部
- DELETE 删除文件
- OPTIONS 询问支持的方法
- TRACE 追踪路径
- CONNECT 要求用隧道协议连接代理
  > 要求在与代理服务器通信时建立隧道，实现用隧道协
  议进行 TCP 通信(SSL和TLS)

Restful架构
GET(请求资源) POST（添加或更新资源） PUT（更新资源） DELETE（删除资源）

| 方法	 |	说明 			    |HTTP协议版本
|--------|      -----:          |  -----: 
| GET	 |	获取资源 			| 1.0、1.1
| POST	 |	传输实体主体 			| 1.0、1.1
| PUT	 |	传输文件 			| 1.0、1.1
| HEAD	 |	获得报文首部 			| 1.0、1.1
| DELETE |	删除文件 			| 1.0、1.1
| OPTIONS|	询问支持的方法 		| 1.1
| TRACE	 |	追踪路径 			| 1.1
| CONNECT|	要求用隧道协议连接代理 | 1.1
| LINK	 |	建立和资源之间的联系	| 1.0
| UNLINE |	断开连接关系			| 1.0

## 2.3 持久链接节省通信量

HTTP1.0中请求默认结束后都需要重新建立三次握手，HTTP1.1为了节省三次握手耗时，默认持久链接（Connection: keep-alive）

## 2.4 管线化
HTTP1.1提出管线化（Pipelining），即无需等待响应后才发送请求，客户端可以一次性发送多个请求，但是服务端还是按照顺序响应。虽然提升了性能，但是若有一个请求非常耗时就容易造成线头阻塞（Head of line blocking）

## 2.8 Cookie
> 前文提到HTTP是无状态协议，自然会有状态管理的方案。即：Cookie

# 三、HTTP报文的HTTP信息

## 3.1 HTTP报文主体和实体区别
> 报文用于传输实体

## 3.2 压缩传输的内容编码
常用的内容编码有以下几种：
- gzip（GNU zip）
- compress（UNIX 系统的标准压缩）
- deflate（zlib）
- identity（不进行编码）

## 3.3 分割发送的分块传输编码
> 分块传输编码会将实体主体分成多个部分（块）。每一块都会用十六
进制来标记块的大小，而实体主体的最后一块会使用“0(CR+LF)”来标
记
HTTP/1.1 中存在一种称为传输编码（Transfer Coding）的机制，它可
以在通信时按某种编码方式传输，但只定义作用于分块传输编码中。
[Transfer-Encoding: chunked](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers/Transfer-Encoding)
一般用于大文件传输至客户端

## 3.4 发送多种数据的多部份对象集合
MIME：（Multipurpose Internet Mail Extensions，多用途因特网邮
件扩展）机制，它允许邮件处理文本、图片、视频等多个不同类型的数据。
> 图片等二进制数据以 ASCII 码字符串编码的方式指明，
就是利用 MIME 来描述标记数据类型。而在 MIME 扩展中会使用一
种称为多部分对象集合（Multipart）的方法，来容纳多份不同类型的
数据。

- multipart/form-data
  在 Web 表单文件上传时使用。
- multipart/byteranges
  状态码 206（Partial Content，部分内容）响应报文包含了多个范
  围的内容时使用。
  > 使用 boundary 字符串来划分多部分对象集合指明的各类实体

## 3.5 获取部分内容的范围请求
> Range字段来指定资源的 byte 范围

## 3.6 内容协商

场景: 中英文切换

相关请求头部字段
- Accept
- Accept-Charset
- Accept-Encoding
- Accept-Language
- Content-Language
协商类别
- 服务器驱动协商
  > 根据请求的字段，服务的选择
- 客户端驱动协商
  > 根据用户客户端手动操作选择
- 透明协商
  > 客户端和服务端各自协商

# 四 返回结果的HTTP状态码

## 2xx
> 请求正常

### 200 OK
> 请求正常处理

### 201 Created
> 该请求已成功，并因此创建了一个新的资源。这通常是在POST请求，或是某些PUT请求之后返回的响应。

### 202 Accepted
> 请求已经接收到，但还未响应，没有结果。意味着不会有一个异步的响应去表明当前请求的结果，预期另外的进程和服务去处理请求，或者批处理。

### 203 Non-Authoritative Information
> 表示请求已经成功被响应，但是获得的负载与源头服务器的状态码为 200 (OK)的响应相比，经过了拥有转换功能的 proxy （代理服务器）的修改。

### 204 No Content
> 该状态码代表服务器接收的请求已成功处理，但在返回的响应报文中
不含实体的主体部分

### 205 Reset Content
> 用来通知客户端重置文档视图，比如清空表单内容、重置 canvas 状态或者刷新用户界面。

### 206 Partial Content
> 该状态码表示客户端进行了范围请求，而服务器成功执行了这部分的
GET 请求。
通常发送在继续请求一个未完成的下载文件

## 3xx
>响应结果表明浏览器需要执行某些特殊的处理以正确处理请
求

### 300 Multiple Choices
有多个可选的资源

### 301 Moved Permanently
> 永久重定向 说明请求的资源已经被移动到了由 
>  头部指定的url上，是固定的不会再改变。搜索引擎会根据该响应修正

### 302 Found
> 临时性重定向。表示请求的资源已被分配了新的 URI，希望
用户（本次）能使用新的 URI 访问

### 304 Not Modified
> 说明无需再次传输请求的内容，也就是说可以使用缓存的内容

例如GET 或HEAD 或在请求中附带了头部信息： If-None-Match 或If-Modified-Since。

如果是 200 OK ，响应会带有头部 Cache-Control, Content-Location, Date, ETag, Expires，和 Vary.

If-None-Match和If-Modified-Since同时存在，if-None-Match优先级会比较高

ETag
- w/ 弱验证器
- &lt;etag_value&gt;

### 307 Temporary Redirect
> 是表示重定向的响应状态码，说明请求的资源暂时地被移动到  Location 首部所指向的 URL 上。

### 308 Permanent Redirect
> 这意味着资源现在永久位于由 Location: HTTP Response 标头指定的另一个 URI。 这与 301 Moved Permanently HTTP 响应代码具有相同的语义，但用户代理不能更改所使用的 HTTP 方法：如果在第一个请求中使用 POST，则必须在第二个请求中使用 POST。

## 4xx 客户端响应

### 400 Bad Request
> - 1、语义有误，当前请求无法被服务器理解
- 2、请求参数有误。

### 401 Unauthorized
> 表示发送的请求需要有通过 HTTP 认证（BASIC 认证、
DIGEST 认证）的认证信息

### 403 Forbidden
> 该状态码表明对请求资源的访问被服务器拒绝了

### 404 Not Found

## 5xx 服务端出错

### 500 Internal Server Error
> 服务器端在执行请求时发生了错误

### 502 Bad Gateway
> 服务器作为网关需要得到一个处理这个请求的响应，但是得到一个错误的响应

### 503 Service Unavailable
> 服务器暂时处于超负载或正在进行停机维护，现在无法
处理请求

### 504 Gateway Timeout
> 网关或者代理的服务器无法在规定的时间内获得想要的响应

# 五 与HTTP协作的Web服务器

## 5.1 代理、网关、隧道

### 代理
> 代理服务器的基本行为就是接收客户端发送的请求后转发给其他服务
器。代理不改变请求 URI，会直接发送给前方持有资源的目标服务
器。
- 缓存代理
代理转发响应时，缓存代理（Caching Proxy）会预先将资源的副本
（缓存）保存在代理服务器上。
当代理再次接收到对相同资源的请求时，就可以不从源服务器那里获
取资源，而是将之前缓存的资源作为响应返回
- 透明代理
转发请求或响应时，不对报文做任何加工的代理类型被称为透明代理
（Transparent Proxy）。反之，对报文内容进行加工的代理被称为非
透明代理。

### 网关
> 网关的工作机制和代理十分相似。而网关能使通信线路上的服务器提
供非 HTTP 协议服务。
利用网关能提高通信的安全性，因为可以在客户端与网关之间的通信
线路上加密以确保连接的安全。

### 隧道
隧道可按要求建立起一条与其他服务器的通信线路，届时使用 SSL 等
加密手段进行通信。隧道的目的是确保客户端能与服务器进行安全的
通信。
隧道本身不会去解析 HTTP 请求。也就是说，请求保持原样中转给之
后的服务器。隧道会在通信双方断开连接时结束。

## 5.2 保存资源的缓存

### 缓存服务器
源站响应后缓存至代理服务器，减少源站请求，加快请求时间

### 客户端缓存
浏览器缓存可以直接从本次磁盘获取，失效后再请求服务器
缓存类型
- 强缓存
  [Cache-control](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers/Cache-Control)
  [Expire](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers/Expires)
- 协商缓存
  - Last-Modified/If-Modified-Since
  - ETag/if-None-Match



缓存位置
- Service Worker
- Memory Cache
  > 缓存命中返回 200 from memory cache
- Disk Cache
  > 缓存命中返回 200 from memory disk
- Push Cache

# 六 HTTP首部

## 6.1 HTTP通用首部字段

### Cache-control
> 操作缓存的工作机制.no-store, no-cache, max-age等等

### Date
> 创建 HTTP 报文的日期和时间。

### Pragma
> 1.0遗留字段值为no-cache相当于Cache-Control: no-cache

### Transfer-Encoding
> 规定了传输报文主体时采用的编码方式,分块chunk, 压缩gzip等方式

### Upgrade
> 用于检查HTTP协议及其他协议是否可使用更高的版本进行通信

## 6.2 请求首部字段

### Accept
> 告知服务器能够处理的文件类型，可一次指定多种媒体类型
Accept: text/html,application/xml; q=0.3, text/plain;
其中q是权重0~1，默认为1

### Accept-Charset
> 通知服务器用户代理支持的字符集及
字符集的相对优先顺序

### Accept-Encoding
> 告知服务器用户代理支持的内容编码及内容编码的优先级顺序
> Accept-Encoding: gzip, deflate
- gzip
  由文件压缩程序 gzip（GNU zip）生成的编码格式（RFC1952），采用 Lempel-Ziv 算法（LZ77）及 32 位循环冗余校验（Cyclic Redundancy Check，通称 CRC）。
- compress
  由 UNIX 文件压缩程序 compress 生成的编码格式，采用 Lempel- Ziv-Welch 算法（LZW）。
- deflate
  组合使用 zlib 格式（RFC1950）及由 deflate 压缩算法（RFC1951）生成的编码格式。
- identity
  不执行压缩或不会变化的默认编码格式
q表示优先级，也可用*作为通配符

### Accept-Language
> Accept-Language: zh-cn,zh;q=0.7,en-us,en;q=0.3
用来告知服务器用户代理能够处理的自然语言集（指中文或英文等），以及自然语言集的相对优先级。可一次
指定多种自然语言集

### Authorization
> Authorization: Basic dWVub3NlbjpwYXNzd29yZA==
告知服务器，用户代理的认证信息

### Expect
> Expect: 100-continue
告知服务器期望响应的信息，服务器若无法理解请求则返回417 Expectation Failed

### From
> 告知服务器使用用户代理的用户的电子邮件地址

### Host
> 虚拟主机运行在同一个 IP 上，首部字段 Host可以加以区分

### If-Match
> 当If-Match字段值和ETag一致时才执行请求, 可使用*指定通配符

### If-Modified-Since
> 当If-Modified-Since字段值大于last-Modified时才执行请求。否则返回304 Not Modified

### If-None-Match
> 当If-Match字段值和ETag不一致时才执行请求

### If-Range
> 告知服务器若指定的 If-
Range 字段值（ETag 值或者时间）和请求资源的 ETag 值或时间相一
致时，则作为范围请求处理。反之，则返回全体资源。

### If-Unmodified-Since
> 和If-Modified-Since相反，当字段值小于last-Modified才执行请求。否则返回412 Precondition Failed

### Max-Forwards
> 设置代理服务器中转次数

### Range
> 设置部分资源的请求范围，失败则返回206 Partical Content

### Referer
> 告知服务器请求的原始资源的 URI

### TE
> 字段 TE 会告知服务器客户端能够处理响应的传输编码方式及相
对优先级。

### User-Agent
> 告知服务器浏览器信息

## 6.3 响应字段

### Accept-Ranges
> 是用来告知客户端服务器是否能处理范围请求, bytes/none

### Age
> 告知客户端，源服务器在多久前创建了响应

### ETag
> 客户端实体标识。它是一种可将资源以字符串
形式做唯一性标识的方式。服务器会为每份资源分配对应的 ETag
值

### Location
> 返回资源重定向的地址，客户端会强制重定向到Location的URI地址。
> 状态码302 Found

### Retry-After
> 告知客户端多久之后才能再发送请求

### Proxy-Authenticate
> 代理服务器所要求的认证信息发送给客户端。

### Server
> 告知安装的HTTP服务器应用程序信息

### WWW-Authenticate
> WWW-Authenticate: Basic realm="Usagidesign Auth"
> 告知客户端适用于访问请求 URI 所指定资源的认证方案（Basic 或是 Digest）和带参数提示的质询（challenge）

## 6.4 实体首部字段

### Allow
> 通知客户端能够支持 Request-URI 指定资源的所
有 HTTP 方法

### Content-Encoding
> 告知客户端服务器对实体的主体部分选用的内容编码方式。

### Content-Language
> 实体主体使用的自然语言

### Content-Length
> 实体大小

### Content-Location
> Content-Location 给出与报文主体部分相对应的 URI。和首
部字段 Location 不同，Content-Location 表示的是报文主体返回资源对应的 URI。

### Content-MD5
> 客户端会对接收的报文主体执行相同的 MD5 算法，然后与首部字段 Content-MD5 的字段值比较, 防止报文被更改，确保准确性。

### Content-Range
> Content-Range: bytes 5001-10000/10000
> 告知客户端作为响应返回的实体的哪个部分符合范围请求

### Content-Type

### Expires
> Cache-Control优先级高于Expire

### Last-Modified

### Cookie
请求: Cookie
响应: Set-Cookie
expire/domain/path/HttpOnly/Secure

# 七 HTTPS

## 什么是HTTPS？
> HTTPS是HTTP通信接口部分用SSL（Secure Socket Layer）和 TLS（Transport Layer Security）协议代替
> 即应用层HTTP协议和传输层TCP之间加了SSL
> HTTPS拥有加密、证书和完整性保护的功能

## HTTPS加密
> HTTPS采用对称加密和非对称加密混合的机制
> 密钥交换使用对称加密，确保密钥安全的情况下，通信使用非对称加密

数字证书认证机构（CA，CertificateAuthority）和其相关机关颁发的公开密钥证书来保证密钥的正确性

## HTTP缺点
- 通信使用明文（不加密），内容可能会被窃听
- 不验证通信方的身份，因此有可能遭遇伪装
- 无法证明报文的完整性，所以有可能已遭篡改

## HTTPS优缺点
虽然提高HTTP的安全性，但是由于加入了SSL，在加密等一些处理过程的英雄下，HTTPS的速度会比HTTP慢很多，会消耗更多的CPU和内存资源

## HTTPS通信机制

# 八 确认访问用户身份的认证

## 8.1HTTP认证方式
- BASIC 认证（基本认证）
- DIGEST 认证（摘要认证）
- SSL 客户端认证
- FormBase 认证（基于表单认证）

## 8.2 Basic 认证
> 用户ID和密码以Base64方式编码通Authorization发送
缺点: Base64编码传输为明文传输并非加密，容易被人窃听

## 8.3 DIGEST 认证
> DIGEST
步骤
- 客户端发送请求
- 服务器返回WWW-Authenticate（临时的质询码）
- 发送Authenticate认证信息（username、realm、nonce、uri、response[通常由MD5加密]）
- 服务器认证请求，成功返回Authentication-Info认证信息，失败401

## 8.4 SSL客户端认证
> HTTPS相关

## 8.5 表单认证
> 步骤 
- 客户端通过HTTPS传输用户ID和密码
- 服务器通过set-cookie发送SessionID或者token
- 请求发送sessionId/token

# 九 基于HTTP功能的追加协议

## SPDY (SPeeDY)
> 在应用层和传输层之间新加入会话层。 出于安全性考虑，规定通信使用SSL。

- 多路复用流，单一的TCP可以无限制处理多个HTTP
  > 弥补了HTTP1.1管线化的线头阻塞问题
- 赋予请求优先级
- 压缩HTTP首部
- 推送功能，服务器主动推送数据给客户端
- 服务器提示客户端所需资源，已缓存资源可避免不必要的请求

## HTTP2

### [HTTP2帧和流](https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Messages)

### HTTP2介绍

> HTTP2源于SPDY/2

|         |          |
|-------- | -----:   |
|压缩      | SPDY、Friendly|
|多路复用  | SPDY         |
|TLS义务化 | Speed＋ Mobility|
|协商      | Speed＋ Mobility，Friendly|
|客户端拉曳（Client Pull）/服务器推送|Speed＋ Mobility|
|流量控制 | SPDYWebSocket Speed＋ Mobility|

### 和SPDY区别：
- HTTP2 支持明文 HTTP 传输，而 SPDY 强制使用 HTTPS
- HTTP2 消息头的压缩算法采用 HPACK，而非 SPDY 采用的 DELEFT

### 对比HTTP1.x

- HTTP2采用二进制格式传输数据
- 对HTTP首部压缩
- 多路复用
- Server Push，服务器主动推送资源给客户端

## WebSocket
> 全双工通信

## Web服务器管理文件（WebDAV）
